In [3]:
## Importing the data 

import pandas as pd 
df = pd.read_csv(r"C:\Users\AdmiN\Desktop\IP\DS\Data_Science_with_Python_Module_1_To_5\Module 4_Pandas\Code\Pandas\mtcars2.csv")

In [6]:
df.head(10)

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,NaN,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,NaN,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,NaN,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,NaN,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,NaN,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [17]:
# replace missing values with mean

df.fillna(df.qsec.mean())

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,17.6675,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.6675,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,17.6675,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,17.6675,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.6675,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,17.6675,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.8400,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.0000,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.9000,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.3000,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.9000,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.4000,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.6000,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.0000,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.9800,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.8200,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.4200,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.6675,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.5200,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9000,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.0100,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.8700,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.3000,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.4100,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.0500,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.6675,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.7000,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9000,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5000,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5000,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6000,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6000,1,1,4,2

In [20]:
df.drop(columns=['vs','am'])

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,NaN,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,NaN,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,NaN,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,NaN,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,NaN,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,4,2

In [42]:
## Index by position & label ( location )

# iloc

df.iloc[ : , : ]

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,NaN,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,NaN,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,NaN,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,NaN,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,NaN,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [43]:
## Index by position & label ( location )

# loc

df.loc[ : , :"mpg"]

    S.No           Unnamed: 1   mpg
0      1            Mazda RX4  21.0
1      2        Mazda RX4 Wag  21.0
2      3           Datsun 710  22.8
3      4       Hornet 4 Drive  21.4
4      5    Hornet Sportabout  18.7
5      6              Valiant  18.1
6      7           Duster 360  14.3
7      8            Merc 240D  24.4
8      9             Merc 230  22.8
9     10             Merc 280  19.2
10    11            Merc 280C  17.8
11    12           Merc 450SE  16.4
12    13           Merc 450SL  17.3
13    14          Merc 450SLC  15.2
14    15   Cadillac Fleetwood  10.4
15    16  Lincoln Continental  10.4
16    17    Chrysler Imperial  14.7
17    18             Fiat 128  32.4
18    19          Honda Civic  30.4
19    20       Toyota Corolla  33.9
20    21        Toyota Corona  21.5
21    22     Dodge Challenger  15.5
22    23          AMC Javelin  15.2
23    24           Camaro Z28  13.3
24    25     Pontiac Firebird  19.2
25    26            Fiat X1-9  27.3
26    27        Porsche 914-2  26.0
27    28         Lotus Europa  30.4
28    29       Ford Pantera L  15.8
29    30         Ferrari Dino  19.7
30    31        Maserati Bora  15.0
31    32           Volvo 142E  21.4

In [45]:
df.loc[4:4,:]

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.44,NaN,0,0,3,2

In [50]:
df.loc[7:13,"Unnamed: 1":"Unnamed: 1"]

     Unnamed: 1
7     Merc 240D
8      Merc 230
9      Merc 280
10    Merc 280C
11   Merc 450SE
12   Merc 450SL
13  Merc 450SLC

In [59]:
df.loc[7:13,["Unnamed: 1","mpg","cyl","gear"]]

     Unnamed: 1   mpg  cyl  gear
7     Merc 240D  24.4    4     4
8      Merc 230  22.8    4     4
9      Merc 280  19.2    6     4
10    Merc 280C  17.8    6     4
11   Merc 450SE  16.4    8     3
12   Merc 450SL  17.3    8     3
13  Merc 450SLC  15.2    8     3

In [63]:
df["vs"]=1
df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,NaN,1,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,NaN,1,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,NaN,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,NaN,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,NaN,1,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,1,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,1,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,1,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,1,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,1,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,1,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,1,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,1,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,1,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,1,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,1,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,1,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,1,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,1,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,1,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [66]:
df
df["kmpl"]=df["mpg"]*1.3
df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,kmpl
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,NaN,1,1,4,4,27.30
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,NaN,1,1,4,4,27.30
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,NaN,1,1,4,1,29.64
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,NaN,1,0,3,1,27.82
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,NaN,1,0,3,2,24.31
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1,23.53
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,1,0,3,4,18.59
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,31.72
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,29.64
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,24.96
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,23.14
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,1,0,3,3,21.32
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,1,0,3,3,22.49
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,1,0,3,3,19.76
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,1,0,3,4,13.52
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,1,0,3,4,13.52
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,1,0,3,4,19.11
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1,42.12
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,39.52
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,44.07
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,27.95
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,1,0,3,2,20.15
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,1,0,3,2,19.76
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,1,0,3,4,17.29
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,1,0,3,2,24.96
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1,35.49
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,1,1,5,2,33.80
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,39.52
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,1,1,5,4,20.54
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,1,1,5,6,25.61
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,1,1,5,8,19.50
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,27.82

In [69]:
a = lambda x : x*2.4

df["kmpl2"] = df["mpg"].apply(a)
df

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,kmpl,kmpl2
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,NaN,1,1,4,4,27.30,50.40
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,NaN,1,1,4,4,27.30,50.40
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,NaN,1,1,4,1,29.64,54.72
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,NaN,1,0,3,1,27.82,51.36
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,NaN,1,0,3,2,24.31,44.88
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1,23.53,43.44
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,1,0,3,4,18.59,34.32
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,31.72,58.56
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,29.64,54.72
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,24.96,46.08
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,23.14,42.72
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,1,0,3,3,21.32,39.36
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,1,0,3,3,22.49,41.52
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,1,0,3,3,19.76,36.48
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,1,0,3,4,13.52,24.96
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,1,0,3,4,13.52,24.96
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,1,0,3,4,19.11,35.28
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1,42.12,77.76
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,39.52,72.96
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,44.07,81.36
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,27.95,51.60
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,1,0,3,2,20.15,37.20
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,1,0,3,2,19.76,36.48
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,1,0,3,4,17.29,31.92
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,1,0,3,2,24.96,46.08
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1,35.49,65.52
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,1,1,5,2,33.80,62.40
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,39.52,72.96
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,1,1,5,4,20.54,37.92
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,1,1,5,6,25.61,47.28
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,1,1,5,8,19.50,36.00
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,27.82,51.36

In [71]:
## Sorting 
df.sort_values(by="Unnamed: 1")

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,kmpl,kmpl2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,1,0,3,2,19.76,36.48
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,1,0,3,4,13.52,24.96
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,1,0,3,4,17.29,31.92
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,1,0,3,4,19.11,35.28
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,NaN,1,1,4,1,29.64,54.72
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,1,0,3,2,20.15,37.20
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,1,0,3,4,18.59,34.32
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,1,1,5,6,25.61,47.28
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1,42.12,77.76
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1,35.49,65.52
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,1,1,5,4,20.54,37.92
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,39.52,72.96
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,NaN,1,0,3,1,27.82,51.36
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,NaN,1,0,3,2,24.31,44.88
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,1,0,3,4,13.52,24.96
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,39.52,72.96
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,1,1,5,8,19.50,36.00
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,NaN,1,1,4,4,27.30,50.40
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,NaN,1,1,4,4,27.30,50.40
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,29.64,54.72
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,31.72,58.56
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,24.96,46.08
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,23.14,42.72
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,1,0,3,3,21.32,39.36
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,1,0,3,3,22.49,41.52
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,1,0,3,3,19.76,36.48
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,1,0,3,2,24.96,46.08
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,1,1,5,2,33.80,62.40
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,44.07,81.36
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,27.95,51.60
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1,23.53,43.44
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,27.82,51.36

In [80]:
df.sort_values(by="mpg", ascending = False)

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,kmpl,kmpl2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,44.07,81.36
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1,42.12,77.76
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,39.52,72.96
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,39.52,72.96
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1,35.49,65.52
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,1,1,5,2,33.80,62.40
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,31.72,58.56
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,NaN,1,1,4,1,29.64,54.72
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,29.64,54.72
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,27.95,51.60
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,27.82,51.36
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,NaN,1,0,3,1,27.82,51.36
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,NaN,1,1,4,4,27.30,50.40
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,NaN,1,1,4,4,27.30,50.40
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,1,1,5,6,25.61,47.28
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,24.96,46.08
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,1,0,3,2,24.96,46.08
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,NaN,1,0,3,2,24.31,44.88
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1,23.53,43.44
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,23.14,42.72
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,1,0,3,3,22.49,41.52
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,1,0,3,3,21.32,39.36
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,1,1,5,4,20.54,37.92
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,1,0,3,2,20.15,37.20
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,1,0,3,3,19.76,36.48
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,1,0,3,2,19.76,36.48
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,1,1,5,8,19.50,36.00
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,1,0,3,4,19.11,35.28
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,1,0,3,4,18.59,34.32
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,1,0,3,4,17.29,31.92
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,1,0,3,4,13.52,24.96
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,1,0,3,4,13.52,24.96

In [81]:
df.sort_values(by=["cyl","gear"], ascending = False)

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,kmpl,kmpl2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,1,1,5,4,20.54,37.92
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,1,1,5,8,19.50,36.00
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,NaN,1,0,3,2,24.31,44.88
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,1,0,3,4,18.59,34.32
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,1,0,3,3,21.32,39.36
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,1,0,3,3,22.49,41.52
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,1,0,3,3,19.76,36.48
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,1,0,3,4,13.52,24.96
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,1,0,3,4,13.52,24.96
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,1,0,3,4,19.11,35.28
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,1,0,3,2,20.15,37.20
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,1,0,3,2,19.76,36.48
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,1,0,3,4,17.29,31.92
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,1,0,3,2,24.96,46.08
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,1,1,5,6,25.61,47.28
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,NaN,1,1,4,4,27.30,50.40
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,NaN,1,1,4,4,27.30,50.40
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,24.96,46.08
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,23.14,42.72
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,NaN,1,0,3,1,27.82,51.36
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1,23.53,43.44
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,1,1,5,2,33.80,62.40
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,39.52,72.96
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,NaN,1,1,4,1,29.64,54.72
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,31.72,58.56
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,29.64,54.72
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1,42.12,77.76
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,39.52,72.96
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,44.07,81.36
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1,35.49,65.52
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,27.82,51.36
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,27.95,51.60

In [83]:
df.sort_values(by=["cyl","gear"], ascending = [False,True])

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,kmpl,kmpl2
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,NaN,1,0,3,2,24.31,44.88
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,1,0,3,4,18.59,34.32
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,1,0,3,3,21.32,39.36
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,1,0,3,3,22.49,41.52
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,1,0,3,3,19.76,36.48
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,1,0,3,4,13.52,24.96
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,1,0,3,4,13.52,24.96
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,1,0,3,4,19.11,35.28
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,1,0,3,2,20.15,37.20
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,1,0,3,2,19.76,36.48
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,1,0,3,4,17.29,31.92
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,1,0,3,2,24.96,46.08
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,1,1,5,4,20.54,37.92
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,1,1,5,8,19.50,36.00
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,NaN,1,0,3,1,27.82,51.36
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1,23.53,43.44
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,NaN,1,1,4,4,27.30,50.40
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,NaN,1,1,4,4,27.30,50.40
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,24.96,46.08
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,23.14,42.72
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,1,1,5,6,25.61,47.28
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,27.95,51.60
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,NaN,1,1,4,1,29.64,54.72
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,31.72,58.56
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,29.64,54.72
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1,42.12,77.76
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,39.52,72.96
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,44.07,81.36
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1,35.49,65.52
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,27.82,51.36
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,1,1,5,2,33.80,62.40
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,39.52,72.96

In [85]:
df.loc[:,["mpg","vs","gear"]]

     mpg  vs  gear
0   21.0   1     4
1   21.0   1     4
2   22.8   1     4
3   21.4   1     3
4   18.7   1     3
5   18.1   1     3
6   14.3   1     3
7   24.4   1     4
8   22.8   1     4
9   19.2   1     4
10  17.8   1     4
11  16.4   1     3
12  17.3   1     3
13  15.2   1     3
14  10.4   1     3
15  10.4   1     3
16  14.7   1     3
17  32.4   1     4
18  30.4   1     4
19  33.9   1     4
20  21.5   1     3
21  15.5   1     3
22  15.2   1     3
23  13.3   1     3
24  19.2   1     3
25  27.3   1     4
26  26.0   1     5
27  30.4   1     5
28  15.8   1     5
29  19.7   1     5
30  15.0   1     5
31  21.4   1     4

In [101]:
df[df["Unnamed: 1"].str.startswith("Merc")]

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,kmpl,kmpl2
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.19,20.0,1,0,4,2,31.72,58.56
8,9,Merc 230,22.8,4,140.8,95,3.92,3.15,22.9,1,0,4,2,29.64,54.72
9,10,Merc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4,24.96,46.08
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4,23.14,42.72
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.07,17.4,1,0,3,3,21.32,39.36
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.73,17.6,1,0,3,3,22.49,41.52
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.78,18.0,1,0,3,3,19.76,36.48

In [112]:
## Filter 
df[(df.cyl > 6) | (df.gear >4)]

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,kmpl,kmpl2
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,NaN,1,0,3,2,24.31,44.88
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,1,0,3,4,18.59,34.32
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,1,0,3,3,21.32,39.36
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,1,0,3,3,22.49,41.52
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,1,0,3,3,19.76,36.48
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,1,0,3,4,13.52,24.96
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,1,0,3,4,13.52,24.96
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,1,0,3,4,19.11,35.28
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,1,0,3,2,20.15,37.20
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,1,0,3,2,19.76,36.48
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,1,0,3,4,17.29,31.92
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,1,0,3,2,24.96,46.08
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,1,1,5,2,33.80,62.40
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,39.52,72.96
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,1,1,5,4,20.54,37.92
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,1,1,5,6,25.61,47.28
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,1,1,5,8,19.50,36.00

In [123]:
df[df["Unnamed: 1"].str.contains("Merc")]

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,kmpl,kmpl2
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.19,20.0,1,0,4,2,31.72,58.56
8,9,Merc 230,22.8,4,140.8,95,3.92,3.15,22.9,1,0,4,2,29.64,54.72
9,10,Merc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4,24.96,46.08
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4,23.14,42.72
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.07,17.4,1,0,3,3,21.32,39.36
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.73,17.6,1,0,3,3,22.49,41.52
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.78,18.0,1,0,3,3,19.76,36.48

In [129]:
df[(df["Unnamed: 1"].str.contains("Merc")) & (df["gear"] == 4 )]

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,kmpl,kmpl2
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.19,20.0,1,0,4,2,31.72,58.56
8,9,Merc 230,22.8,4,140.8,95,3.92,3.15,22.9,1,0,4,2,29.64,54.72
9,10,Merc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4,24.96,46.08
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4,23.14,42.72

In [131]:
df[df['Unnamed: 1'].str.contains('Merc') | df['Unnamed: 1'].str.contains('Ford')]

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,kmpl,kmpl2
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.19,20.0,1,0,4,2,31.72,58.56
8,9,Merc 230,22.8,4,140.8,95,3.92,3.15,22.9,1,0,4,2,29.64,54.72
9,10,Merc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4,24.96,46.08
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4,23.14,42.72
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.07,17.4,1,0,3,3,21.32,39.36
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.73,17.6,1,0,3,3,22.49,41.52
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.78,18.0,1,0,3,3,19.76,36.48
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.17,14.5,1,1,5,4,20.54,37.92

In [138]:
df[(df['Unnamed: 1']=='Merc') | (df['Unnamed: 1']=='Ford')]

Empty DataFrame
Columns: [S.No, Unnamed: 1, mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb, kmpl, kmpl2]
Index: []